<!--Main Navigation-->
<header>
  <!-- Sidebar -->
 
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <a class="navbar-brand" href="#">
    <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="25" alt="MDB Logo"
     loading="lazy" />
   
   </a>
    <div class="position-sticky">
      
      <div class="list-group-item list-group-item-action py-2 ripple">
       
        <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <span>الطباخين</span>  <i class="fas fa-tachometer-alt fa-fw me-3"></i>
        </a>
     
       
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>العملاء</span><i
          class="fas fa-users fa-fw me-3" ></i></a>
       
       
      
       
       
        <a href="#" class="list-group-item list-group-item-action py-2 ripple" routerLink="/Foodcard" ><span>الطعام</span><i
          class="fas fa-money-bill fa-fw me-3"></i></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>الطلبات</span><i
            class="fas fa-money-bill fa-fw me-3"></i></a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      
      <!-- Search form -->
     

    
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>
<!--Main layout-->