<!--Main Navigation-->
<header  class="col-4"  >
  <!-- Sidebar -->

  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <a class="navbar-brand" href="#">
    <img src="../../assets/logo.png" height="130px" width="180px" alt="MDB Logo"
     loading="lazy" />
   </a>
   <h3 style="text-align: center;">الاكيله</h3>
    <div class="position-sticky">

      <div class="list-group-item list-group-item-action py-2 ripple">

        <a routerLink="/CookerCard" class="list-group-item list-group-item-action py-2 ripple" aria-current="true" style="margin-top: 30px;">
            <i class="fas fa-tachometer-alt fa-fw me-3" style="color: #5b8d61;"></i><span>الطباخين</span>
        </a>


        <a routerLink="/UserCard" href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-users fa-fw me-3" style="color: #5b8d61;"></i> <span>العملاء</span></a>





        <a routerLink="/Foodcard" href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fa-solid fa-bowl-food me-3" style="color: #5b8d61;" ></i><span>الطعام</span></a>
        <a routerLink="/OrderCard" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa-solid fa-pen-to-square me-3" style="color: #5b8d61;"></i><span>الطلبات</span></a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->

      <!-- Search form -->



    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>
<!--Main layout-->
