<div class="container">
    <div class="row">
        <div class="col-3">

        </div>

        <form #login="ngForm" (ngSubmit)="handleFormSubmit(login)">
            <div class="container py-5 ">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem; border: 3px solid green">
                            <div class="card-body p-5 text-center">

                                <h3 class="mb-5">تسجيل دخول</h3>

                                <div class="form-outline mb-4 input-group" >

                                    <input class="i" type="Email" class="form-control" id="Email"
                                        aria-describedby="EmailHelp" placeholder="ادخل بريدك الالكتروني" name="Email"
                                        ngModel required #Email="ngModel" email/>




                                </div>
                                <div *ngIf="Email.touched && Email.invalid" id="EmailHelp">
                                    <small class="text-danger " *ngIf="Email.errors?.['email']">*PLEASE INTER Correct Format For Email *</small>
                                    <small class="text-danger" *ngIf="Email.errors?.['required']">*PLEASE INTER YOUR
                                        E-mail*</small>
                                </div>
                                <div>
                                    <input class="i"  class="form-control" type="password"    id="password"
                                        aria-describedby="passwordHelp" placeholder="ادخل الرمز الخاص بك"
                                        name="password" ngModel required #password="ngModel"
                                     />
                                </div>
                                <div *ngIf="password.touched && password.invalid" id="passwordHelp">
                                    <small class="text-danger" *ngIf="password.errors?.['required']">*PLEASE INTER YOUR
                                        Password*</small>

                                </div>
                                <div>
                                    <button type="submit" class="btn " id="sign"
                                        [disabled]="login.invalid">تسجيل دخول</button>
                                </div>
                                <p class="btn-separator my-30"><span style="   color: rgb(155, 193, 155);">ليس لديك حساب
                                    </span></p>

                                <a routerLink="/Register" type="button" class="btn " id="sign">إنشاء حساب</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>