<h1>🥗 الأكلات</h1>
<div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6 mb-3" *ngFor="let food of myfoods " style="max-width: 400px; max-height: 500px;">
            <div class="card" >
                <img class="card-img-top" src={{food.foodImg}} alt="Card image cap">
                <div class="card-body" style="direction: rtl;">
                  <h5 class="card-title " style="text-align: center;font-size: 20;"> {{food.foodName}}</h5>
                  <p class="card-text" style="font-size: 13px; padding: auto;  ">يضاف معها كرات فراخ او كرات لحمه</p>
                  <p class="card-text" style="font-size: 13px; padding: auto; text-align: center; "> السعر: {{food.bigPrice}} ج</p>
                  <p class="card-text" style="font-size: 13px; padding: auto; text-align: center; ">{{food.cookerName}}</p>
                  
                  <a  class="btn btn-danger"  style="text-align: center;  margin-right: 70px;" (click)="removefoods(food.foodId)">مسح الأكلة </a>
                </div>
              </div>
        </div>
        

    </div>
</div>
