<h1> 👥 العملاء</h1>
<div class="container">
  <div class="row">
    <div class="col-5" *ngFor="let user of myUsers">
      <div class="card mb-3" style="max-width: 480px; ">
        <div class="row g-0">

          <div class="col-md-8">
            <div class="card-body " style="direction: rtl;">
              <h4 class="card-title "> {{user.fullName}} </h4>
              <p class="card-text">  </p>
              <p>{{user.address}}</p>
              <p>رقم التليفون: {{user.phone}}</p>

              <!-- <p class="card-text"  style="margin-top: 10px;" ><small class="text-muted">المنيا - ملوي</small></p> -->
              <i class="fa-solid fa-trash" style="color:red;" (click)="removeUser(user)"></i>

            </div>
          </div>
          <div class="col-md-4">
            <img src={{user.photo}} class="img-fluid rounded-start"  alt="...">
          </div>
        </div>
      </div>
    </div>








  </div>
</div>



