<div class="container">
    <div class="row"*ngFor="let order of myOrder">
      <div class="col-5" *ngFor="let ody of order.orders" >
        <div class="card mb-3" style="max-width: 480px; ">
          <div class="row g-0">
  
            <div class="col-md-8">
              <div class="card-body " style="direction: rtl;">
                <h4 class="card-title ">  {{ody.foodName}} </h4>
                <p class="card-text">طلب من  {{ody.userOrderName.toString().split("@")[0]}}  </p>
                <p class="card-text">اسم الطباخ  {{ody.cookerName.toString().split("@")[0]}} </p>
                <p class="card-text">الحجم   {{ody.choosenPrice}}  </p>
                <p class="card-text">سعر القطعه  {{ody.choosenPrice=='كبير'?ody.bigPrice*ody.quantity:ody.choosenPrice=='وسط'?ody.middlePrice*ody.quantity:ody.smallPrice*ody.quantity}}   </p>
                <div style="display:flex">
                  <p class="card-text ms-3" > الكميه {{ody.quantity}}  </p>
                  <p class="card-text" style="display: inline-block;"> السعر الاجمالي  {{ody.choosenPrice=='كبير'?ody.bigPrice*ody.quantity:ody.choosenPrice=='وسط'?ody.middlePrice*ody.quantity:ody.smallPrice*ody.quantity}}  </p>
                </div>
                <!-- <p>{{ody.address}}</p> -->
                <!-- <p>رقم التليفون: {{ody.phone}}</p> -->
  <!-- كبير  -->
                <!-- <p class="card-text"  style="margin-top: 10px;" ><small class="text-muted"> التاريخ {{ody.ش}</small></p> -->
                <!-- <i class="fa-solid fa-trash" style="color:red;" (click)="removeOrder(ody)"></i>  -->
  
              </div>
            </div>
            <div class="col-md-4">
              <img src={{ody.foodImg}} class="img-fluid rounded-start"  alt="...">
            </div>
          </div>
        </div>
      </div>