<h1> 👥 العملاء</h1>
<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="card mb-3" style="max-width: 480px; ">
        <div class="row g-0">

          <div class="col-md-8">
            <div class="card-body " style="direction: rtl;">
              <h4 class="card-title "> ياسمين محمد</h4>
              <p class="card-text">  </p>
              <p>المنيا - ملوي شارع شجره الدر متفرع من 26 يوليو</p>
              <p>رقم التليفون: 01006582072</p>

              <!-- <p class="card-text"  style="margin-top: 10px;" ><small class="text-muted">المنيا - ملوي</small></p> -->
              <i class="fa-solid fa-trash" style="color:red;"></i>

            </div>
          </div>
          <div class="col-md-4">
            <img src="../../assets/team4.jpg" class="img-fluid rounded-start"  alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card mb-3" style="max-width: 480px; ">
        <div class="row g-0">

          <div class="col-md-8">
            <div class="card-body " style="direction: rtl;">
              <h4 class="card-title "> ياسمين محمد</h4>
              <p class="card-text">  </p>
              <p>المنيا - ملوي شارع شجره الدر متفرع من 26 يوليو</p>
              <p>رقم التليفون: 01006582072</p>
              <i class="fa-solid fa-trash"></i>

              <!-- <p class="card-text"  style="margin-top: 10px;" ><small class="text-muted">المنيا - ملوي</small></p> -->
            </div>
          </div>
          <div class="col-md-4">
            <img src="../../assets/team6.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
      </div>


    </div>







  </div>
</div>



